# Configuración de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=mentia123
DB_NAME=payroll_db

# Seguridad y Autenticación JWT
JWT_SECRET=super-secret-payroll-key-2026-sena-security-token
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# Entorno de ejecución
ENVIRONMENT=development

# Puerto de PostgreSQL al desplegar en Docker
DOCKER_PG_PORT=5435
